.cardTitle {
  font-weight: bold;
  margin: 0;
}

.mainCard {
  margin-top: 5px;
  margin-bottom: 15px;
}

.tableCard {
  padding: 0 !important;
}

.modHeader {
  display: flex;
  a {
    margin-left: auto;
  }
}